@use '../components';

html, body {
  overflow: hidden;
}

.container-fluid {
  position: absolute;
  top: 40px;
  left: 200px;
  right: 0;
  bottom: 0;
  padding: 25px;
}

h5 {
  border-bottom: 1px solid #333;
}

table {
  background-color: #fff;
}