.message-box-light input {
  background-color: #ecf0f1;
  color: #333;
  border: 1px solid #000;
}

.message-box-light button {
  background-color: #6200EE !important;
  color: #fff;
  border: 1px solid #000;
}