.sidebar {
  width: 200px;
  height: calc(100vmin - 40px);
  background: #333;
  z-index: 1;

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 0;
  }

  .nav-item {
    background: #222;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #555;
    border-top: none;
    cursor: pointer;
    user-select: none;
    z-index: 1;

    &:hover, &:focus {
      background-color: #555;
    }
  }

  .nav-item.active {
    background-color: #ddd;
    color: #333;
    border: 1px solid #222;
    z-index: 1;

    &:hover, &:focus {
      background-color: #fff;
      color: #111;
    }
  }
}