@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

// Force font on all elements.
* {
  font-family: 'Lora', 'Roboto', sans-serif, serif !important;
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  margin-top: 40px;
  background-color: #eee;
  width: 100vw;
  height: calc(100vh - 40px);
}

// ================================
//            Scrollbar
// ================================
::-webkit-scrollbar {
  width: 0;
}

// Fallback for unsupported browsers.
* {
  scrollbar-width: 0;
}